registry=https://registry.npmjs.org/
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
shallow-lockfile=false
network-timeout=100000
preferOffline=true
workspace-concurrency=1
shared-workspace-lockfile=true
